<div class="page-bg"></div>
<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>
<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work.html", class: "right-item" %>
    <%= link_to "Contact", "contact.html", class: "active-item" %>
  </div>
</div>
<div class="contact-banner">
  <div class="contact-mail">
    <p>If you have an idea in mind or want to discuss about your design, UX and web-development projects, you can reach me at <a href="mailito:lienard.florent@gmail.com">lienard.florent@gmail.com</a></p>
  </div>
  <div class="social">
    <%= link_to image_tag('twitter.png', width: 50, class: "social"), "http://www.linkedin.com/in/lucasraert" %>
    <%= link_to image_tag('github.png', width: 50, class: "social"), "http://www.linkedin.com/in/lucasraert" %>
    <%= link_to image_tag('linkedin.png', width: 50, class: "social"), "http://www.linkedin.com/in/lucasraert" %>
  </div>
</div>
