<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "index.html", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work.html", class: "right-item" %>
    <%= link_to "Contact", "contact.html", class: "right-item" %>
  </div>
</div>
<div class="space-nav">
</div>
<div class="contact-banner">
  <div class="work-experience">
    <div class="experience-description">
      <p>If you have an idea in mind or want to discuss about your design, UX and web-development projects, let’s talk ;). You can reach me at <a href="mailito:lienard.florent@gmail.com">lienard.florent@gmail.com</a></p>
    </div>
  </div>
  <div class="touch">

  </div>
  <div class="social">
    <%= image_tag "twitter.png", width: 50%>
    <%= image_tag "github.png", width: 50%>
    <%= image_tag "linkedin.png", width: 50%>
  </div>
</div>
